* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

:root {
  --color-fg: #111;
  --color-bg: #fff;
}

:root {
  --font-button: 0.85rem;
}

:root {
  --navLeftWidth: 300px;
  --mainWidth: 500px;
}

/* .app {
  background: white;
  display: flex;
  margin: 0;
  gap: 30px;
} */

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 2;
  background: white;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
}

.nav-top ul {
  height: 100%;
  width: 100%;
  /* max-width: calc(var(--navLeftWidth) + var(--mainWidth) + 30px); */
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-top li,
.nav-top li a {
  height: 100%;
  background: yellow;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-top-logo img {
  object-fit: contain;
  width: auto !important;
  height: 24px;
}

.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 2;
  background: white;
  padding: 0 20px;
  border-top: 1px solid #eee;
}

.nav-bottom ul {
  height: 100%;
  width: 100%;
  /* max-width: calc(var(--navLeftWidth) + var(--mainWidth) + 30px); */
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-bottom svg {
  height: 32px;
}

.nav-left {
  display: none;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .nav-left {
    width: var(--navLeftWidth);
    height: 100vh;
    border-right: 1px solid #eee;
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px 0;
    display: block;
  }

  .nav-left ul {
    display: block;
    list-style: none;
    padding: 15px 30px;
  }

  .nav-left ul li {
    padding: 15px 15px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
  }

  .nav-left ul li:hover {
    background: #fafafa;
  }

  .nav-left ul li a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--color-fg);
  }

  li.active-nav-left a {
    font-weight: 700 !important;
  }

  .nav-left-logo img {
    height: 32px;
  }

  .nav-left-logo img:hover {
    background: none;
  }

  .nav-left ul svg {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    padding: 0;
  }
}

.main {
  display: block;
  width: 100%;
  padding: 0;
  margin-top: 50px;
}

@media only screen and (min-width: 768px) {
  .main {
    margin-top: 0px;
    padding: 0 20px;
    width: var(--mainWidth);
  }

  .nav-top,
  .nav-bottom {
    display: none;
  }

  .main {
    margin-left: calc(var(--navLeftWidth) + 30px);
    display: flex;
  }

  .main > * {
    width: 100%;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .main-one {
    max-width: var(--mainWidth);
    flex: 1;
    max-height: 100vh;
    overflow-y: auto;
  }
}

.product-categories {
  margin: 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background: white;
  border-bottom: 1px solid #eee;
  padding: 15px;
  overflow: auto;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0;
  background: transparent;
}

@media only screen and (min-width: 768px) {
  .product-categories {
    top: 0px;
    padding: 15px 0;
  }
}

.product-categories ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 10px;
}

.product-categories ul li {
  background: transparent;
  color: #ccc;
  border: 1px solid #ccc;
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  border-radius: 20px;
  font-size: 0.9rem;
  text-transform: capitalize;
  cursor: pointer;
}

.product-categories ul li a {
  color: white;
  text-decoration: none;
}

.product-categories ul li.active {
  color: white;
  text-decoration: none;
  background: black;
  color: white;
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.product-nav {
  display: flex;
  height: 50px;
  align-items: center;
}
.product-nav img {
  height: 32px;
  margin: 0 auto;
}

.products {
  padding: 15px;
  overflow: hidden;
} /* Nav and Cat NAv heights*/

:root {
  --product-kicker: 0.75rem;
  --product-title: 0.9rem;
  --product-description: 0.75rem;
}

@media only screen and (min-width: 768px) {
  :root {
    --product-kicker: 0.8rem;
    --product-title: 1rem;
    --product-description: 0.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .products {
    padding: 30px 0;
    width: 100%;
  }
}

.product {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.product-feature {
  background: transparent;

  width: 66px !important;

  display: flex;
  align-self: center;
  aspect-ratio: 1/1;
}

@media only screen and (min-width: 768px) {
  .product-feature {
    background: transparent;
    min-width: 100px !important;
    width: 100px !important;
    max-width: 100px !important;
    display: flex;
    align-items: center;
  }
}

.product-feature img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  height: 100%;
}

.product-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  padding: 10px 15px 0;
  flex-grow: 1;
}

.product-header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-favourite * {
  font-weight: normal;
  color: #3b97d1;
  margin-bottom: 3px;
  display: block;
  height: 32px;
}

.product-kicker {
  font-weight: normal;
  font-size: var(--product-kicker);
  color: #3b97d1;
  margin-bottom: 1px;
  display: block;
  font-weight: bold;
}

.product-title {
  font-weight: 600;
  font-size: var(--product-title);
  margin-bottom: 5px;
}

.product-body {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
  flex-direction: column;
}

.product-description {
  font-weight: normal;
  color: #ccc;
  font-size: var(--product-description);
  margin-bottom: 5px;
}

.product-tags {
  font-weight: normal;
  color: #ccc;
  font-size: 0.75rem;
  margin-bottom: 10px;
  display: block;
  display: none;
}

.product-header-right {
  display: none;
}

.product-review {
  background: green;
  color: white;
  flex: 0 0 auto;
}

.product-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  column-gap: 10px;
  font-size: var(--font-button);
}

.product-buttons .product-fav-button {
  padding: 0;
  height: 32px;
}

.product-buttons .product-fav-button svg {
  height: 100%;
}

.product-buttons .product-buy-button,
.product-buttons .product-more-button {
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  border-radius: 10px;
  text-decoration: none;
}

.product-buttons .product-buy-button {
  background: #3b97d1;
  background: #3bd1c0;
  background: rgb(59, 209, 192);
  background: linear-gradient(
    180deg,
    rgba(59, 209, 192, 1) 0%,
    rgba(59, 151, 209, 1) 100%
  );
  font-weight: 600;
  color: #fff;
}

.product-buttons .product-more-button {
  background: transparent;
  border: 1px solid #ddd;
  color: #ddd;
}

.product-header-review-wrapper {
  display: flex;
  justify-content: space-between;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 2rem;
}

#product-favs .product-feature {
  background: transparent;
  width: 66px;
  display: flex;
  align-items: center;
}

#product-favs .product-feature img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 1/1;
}

#product-favs .product-kicker {
  display: initial;
}

#product-favs .product-title {
  font-size: 1rem;
}

/* Image container */
.imageNotification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background: lightgray;
  border-radius: 5px;
}

/* Image Componet*/

.cross-icon {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  cursor: pointer;
}
